<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding maxReceivedMessageSize="1000000" name="GOshopAPISoap">
                    <security mode="Transport" /> <!--transport-->
                </binding>
                <binding name="GOshopAPISoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint  address="https://www.api-goshop.dev/Api.asmx" binding="basicHttpBinding"
                bindingConfiguration="GOshopAPISoap" contract="GOshopAPI.GOshopAPISoap"
                name="GOshopAPISoap" />
        </client>
    </system.serviceModel>
</configuration>